* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/*font-size: 14px;*/
}

body {
	background: #95a5a6;
	font-family: segoe ui light ;
}

#wraper {
	width: 375px;
	min-height: 640px;
	background: #ecf0f1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 0;
	/*overflow-x: hidden;*/
}


#wraper::after {
	content: "";
	background-image: url(../img/bground-2.jpeg);
	opacity: 0.3;
	top: 0;
 	left: 0;
 	bottom: 0;
 	right: 0;
 	position: absolute;
 	z-index: -1; 
}

#main-buttons, #main-buttons-complete {
	width: 100%;
	height: 60px;
	background: #34495e;
	display: flex;
	color: #fff;
}

.m-button {
	display: flex;
	flex-basis: 33.333%;
	border: none;
	border-right: 1px solid #adbfd2;
	outline: none;
	background: #34495e;
	color: #fff;
	cursor: pointer;
	justify-content: center;
	align-items: center;
}


.m-button:active {
	background: #486684;
}


.m-button img {
	margin: 5px;
}

#acutal-month {
	width: 100%;
	height: 45px;
	background: #27ae60;
	color: #fff;
	padding: 10px;
	position: relative;

	
}

#acutal-month:after,
{
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: transparent;
	position: absolute;
	bottom: 0px;
	left: 1px;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
	z-index: 1;
}

#acutal-month #expand-icon {
	display: block;
	position: absolute;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #f1c40f;
	border: 8px solid #27ae60;
	left: 50%;
	bottom: 0%;
	transform: translate(-50%,50%);
	box-sizing: content-box;
	outline: none;
	cursor: pointer;
	z-index: 2;
}

#acutal-month #expand-icon svg {

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 14px;
}

#icon-container {
	width: 35px;
	height: 35px;
	box-shadow: 0px 0px 5px 0px #8c8c8c;
	background: #f1c40f;
	border-radius: 50%;
	border: 1px solid #f7e187;
}

#expand-icon:active #icon-container {
	background: #f8e187;
	border: none;
}

.sum-income-section,
.sum-expenses-section,
.sum-balance-section,
.comp-income-section,
.comp-expenses-section,
.comp-balance-section
{
	width: 100%;
	height: 250px;
	background: #fff;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	justify-content: center;
	padding: 20px 10px 10px;
	position: relative;
}



.comp-income-section,
.comp-expenses-section,
.comp-balance-section
{
	height: auto;
}



/*.sum-income-section {
	display: flex;
}

.sum-expenses-section {
	display: flex;
}
*/
.sum-balance-section,
.comp-balance-section
{

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.balance-graph,
.balance-income,
.balance-expenses,
.result-box1,
.result-box2
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	font-size: 14px;
	padding: 0 5px;
}


.balance-income {
	color: rgba(5, 196, 107,1.0);
}

.balance-expenses {
	color: rgba(245, 59, 87,1.0);
}

.result-box1
{
	background: rgba(164, 176, 190, 0.2);
	border-top: 1.2px dashed rgba(164, 176, 190, 0.7);
	margin-top: 10px;

}


.result-box2
{
	background: rgba(164, 176, 190, 0.5);
	border-top: 1.2px dashed rgba(164, 176, 190, 0.7);
	z-index: 5;
	/*margin-bottom: 3px;*/
}

.result-box2:after
{
	content: '';
	display: block;
	width: calc(100% - 20px);
	height: 1px;
	background: transparent;
	position: absolute;
	bottom: 10px;
	left: 10px;
	box-shadow: 0px 2px 5px 0px red;
	z-index: 1;
}

.balance-graph .balance-plus, .balance-graph .balance-minus {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	/*border: 1px solid black;*/
	border: none;
	outline: none;
}

.balance-graph .balance-plus {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background: rgba(33, 140, 116,1.0);
}

.balance-graph .balance-minus {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: rgba(179, 57, 57,1.0);
}

.balance-graph .plus-sign, .balance-graph .minus-sign {
	/*border: 1px solid black;*/
	border-radius: 50%;
	width: 20px;
	height: 20px;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
}

.balance-graph .balance-plus-graph, .balance-graph .balance-minus-graph {
	height: 30px;
	/*border: 1px solid black;*/

} 

.balance-graph .balance-plus-graph {
	/*flex-basis: 30%;*/
	background: rgba(33, 140, 116,1.0);
}

.balance-graph .balance-minus-graph {
	/*flex-basis: 70%;*/
	background: rgba(179, 57, 57,1.0);
}




.display-none {
	display: none;
}

.sum-sec1 {
	flex-basis: 35%;
	height: 100%;
}

.sum-sec2 {
	flex-basis: 65%;
	height: 100%;
}

.sum-sec1 .detail-box {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	border-right: 1.2px solid #f2f2f2;
	box-shadow: 5px 0 10px -5px #b3b3b3;
}

.sum-sec1 .detail-box .cat-box {
	width: 100%;
	height: 57px;
	text-align: center;
	display: flex;
	align-items: center;
	position: relative;
	justify-content: flex-end;
	padding: 5px;
	border-bottom: 1.2px solid #f2f2f2; 
}

.sum-sec1 .detail-box .cat-box:last-of-type {
	border: none;
}

.sum-sec1 .detail-box .cat-box p {
	display: inline-block;
	font-size: 14px;
	color: #009432;
}

.cat-inco-container {
	display: inline-flex;
	width: 24px;
	height: 24px;
	background: #16a085;
	text-align: center;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin: 5px;
	right: 0%;
	/*position: absolute;*/

}

.sum-sec2 .detail-box {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding-left: 10px;

}

.sum-sec2 .detail-box .cat-box {
	width: 100%;
	height: 57px;
	/*border: 1px solid black;*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	justify-content: flex-end;
	padding: 5px;
	font-size: 12px;

	border-bottom: 1.2px solid #f2f2f2; 
}

.sum-sec2 .detail-box .cat-box:last-of-type {
	border: none;
}


.percentage-box {
	height: 20px;
	width: 100%;
	background: #0652DD;
	color: #fff;
	line-height: 20px;
	padding-left: 3px;
	border-radius: 3px;
}

/*Transactions section*/
.transactions-container {
	width: 100%;
	height: 200px;
	overflow-y: auto;
	overflow-x: hidden;

}

.transactions-container .transaction-header{
	width: 100%;
	height: 30px;
	background: #27ae60;
	color: #fff;
	padding: 0 10px;
	position: relative;
	display: flex;
	align-items: center;
}

.transactions-container .transaction-header svg {
	margin: 10px;
	
}

.transactions-container .transaction {
	display: flex;
	flex-direction: column;
	/*justify-content: space-between;*/
	align-items: center;
	padding: 5px 8px;
	border-bottom: 2px solid #dcdde1;
	background: #fff;
	font-size: 14px;
	/*height: 34px;*/
}

.data_day_transactions {

}

.transaction-sec1 {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.transaction-sec2 {
	width: 100%;
	display: flex;
}

.transaction .cat-box p {
	display: inline-block;
}

.sum-sec1 .detail-box .cat-box p {
	display: inline-block;
	font-size: 14px;
	color: #009432;
}

.transaction .transaction-note-box {
	width: 100%;
	font-size: 12px;
	border-top: 1.2px dotted rgba(255, 165, 2, 0.4);
	padding: 5px 10px;
}

.transaction .transaction-note-box .transaction-note {
	font-size: 11px;
	font-style: italic;
}


.balance-sec {
	display: flex;
	height: 30px;
	background: rgba(236, 204, 104,1.0);
	font-size: 14px;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	position: relative;
}

.balance-sec::after {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: transparent;
	position: absolute;
	bottom: 0px;
	left: 1px;
	box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.7);
	z-index: 1;
}


/*Data complete*/



section#data-complete,
section#transaction_day,
section#input_data
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	background: #fff;
	display: none;
}

/*section#input_data,
section.data-complete,
section#transaction_day
{
	display: none;
	left: 0%;
}*/

.go_input_data {

}


.close-data-complete,
.close-data-complete
{
	height: 40px;
	background: #486684;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0 0 10px ;
}

.close-data-complete i {
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}

/*Calendar Styling*/
#calendar tr {
	display: flex;

}

#calendar td, #calendar th {
	width: calc(100%/7);
	
	display: flex;
	width: calc(100% / 7);
	padding: 0; 
	margin: 0;
	justify-content: center;
	align-items: center

}

#calendar thead {
	border: none;
}

#calendar {
	display: flex;
	flex-direction: column;

}

#top_calender
{
	width: 375px;
	background: #fff;
	padding: 0;
}

.card {
	height: auto;
}

.no_date
{
	/*background: rgba(0,0,0,0.1);*/
}

.right_date
{
	cursor: pointer;
	transition: .3s linear;	
}

.right_date:hover
{
	background: rgba(0,0,0,0.2);
	
}

#calendar_header
{
	display: flex;
	width: 100%;
	height: 30px;
	background: #27ae60;
	justify-content: space-between;
}

#previous,
#next,
#monthAndYear
{
	font-size: 12px;
	width: 70px;
	background: transparent;
	border: none;
	text-align: center;
	line-height: 30px;
	outline: none;
}

#previous,
#next
{
	color: rgba(250,250,250, 0.8);
	transition: .1s ease-out;
}

#previous:hover,
#next:hover
{
	background: #219150;
}

#monthAndYear
{
	color: #fff;
}

.bg-info {
	background: #ffdd99;	
}


.expenses_categories,
{
	display: none;
}

section#transaction_day .transactions-container
{
	height: 100%;
}

.go_input_data {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: #fff;
	background: #fbc531;
	bottom: 100px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	line-height: 50px;
	font-size: 25px;
	box-shadow: 0 0 20px 0px #dcdde1;
	cursor: pointer;
}

.go_input_data:active
{
	background: rgba(251, 197, 49,0.80);
}

.go_input_data:hover i{
	transition: .3s ease-out;
	transform: rotate(90deg);
}

